body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color:black;
  }
   #canvas-container {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: auto;
   }